.btn {
    background-color: purple;
    border-radius: 7px;
    padding: 5px;
}
.clue-wrapper {
    margin-top: 20px;
    border: 1px solid blue;
    height: 20px;
    width: 80%;
}
.attempts-wrapper{
    margin-top: 20px;
    border: 1px solid blue;
    height: 20px;
    width: 80%;
}